@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #bc8cf2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #bc8cf2;
  border-radius: 5px;
}

.screen {
  height: calc(100vh - 80px);
}
